<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" th:href="@{/layui/css/layui.css}"/>
    <link rel="stylesheet" href="../css/common.css" th:href="@{/css/common.css}" />
    <style>
        #img {
            width: 25px;
            height: 20px;
            position: absolute;
            right: 5px;
            margin-top: 9px;
            top: 1px;
            text-align: center;
        }

        #reader-page:after {
            content: '';
            background: url("/img/reader-bg.jpg") no-repeat;
            background-size: 100%;
            width: 100%;
            height:93.6%;
            /*-webkit-filter: blur(3px);*/
            /*-moz-filter: blur(3px);*/
            /*-o-filter: blur(3px);*/
            /*-ms-filter: blur(3px);*/
            /*filter: blur(3px);*/
            margin-top: 60px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .table-container{
            border-bottom: #b2b2b2 1px solid;
            width: 100%;
            margin-top: 10px;

        }
        .introduce-td{
            width: 900px;
            overflow:hidden;
            text-overflow:ellipsis;
            white-space:nowrap;
            display: block;
        }

        .book_img{
            height: 100px;
            width: 70px;
            transition: all 0.5s;/*缓冲时间，all:针对所有，0.5s：表示时间，缓冲0.5秒*/
            cursor: pointer;/*当鼠标放上去后，鼠标变成小手*/

            border: 1px solid #bcbcbc;
            background-color: white;
            box-shadow: 4px 4px 3px #bfbfbf;
        }
        .book_img:hover{
            transform: scale(1.1);/*当鼠标放上去时实现缩放效果*/
        }

        .book_name_td{
            font-size: 20px;
            font-weight: bolder;
            cursor: pointer;/*当鼠标放上去后，鼠标变成小手*/
        }
        .book_name_td:hover{
            color: red;
            text-decoration:underline
        }
    </style>
</head>
<body >

<div class="layui-layout layui-layout-admin " >
    <div class="layui-header">
        <div class="layui-logo">
            天天向上图书管
        </div>
        <div style="margin-left:200px;line-height: 60px;text-indent: 20px;color: white">
            发奋识遍天下字，立志读尽人间书。
        </div>
        <ul class="layui-nav layui-layout-right" lay-filter="">
            <li class="layui-nav-item">
                <a href="javascript:;"><img src="static/img/admin.jpg" th:src="@{/img/backgrounds.jpg}" class="layui-nav-img" />我</a>
                <dl class="layui-nav-child">
                    <dd id="personal-data">
                        <a href="javascript:;">个人资料</a>
                    </dd>
                    <dd id="personal-update">
                        <a href="javascript:;">修改信息</a>
                    </dd>
                    <dd id="pass-update">
                        <a href="javascript:;">修改密码</a>
                    </dd>
                    <dd id="login-out">
                        <a href="/userController/loginOut"><i class="layui-icon layui-icon-logout"></i>退出</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:if="${u.role != 'reader'}">
                <a href="/page/main">切换到后台系统</a>
            </li>
        </ul>
    </div>
</div>

<!--    个人信息弹窗-->
<script id="login-info" type="text/html">
    <div class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" readOnly="true" value="{{d.user_name}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" readOnly="true" value="{{d.phone}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="text" readOnly="true" value="{{d.gender}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-block">
                <input type="text" readOnly="true" value="{{d.email}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">注册日期</label>
            <div class="layui-input-block">
                <input type="text"  readOnly="true" value="{{d.register_time}}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text"  readOnly="true" value="{{d.role}}" class="layui-input">
            </div>
        </div>
    </div>
</script>
<div id="login-info-model" style="display: none"></div>


<!--    个人信息修改弹窗-->
<script id="update-info" type="text/html">
    <div class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" id="userName" value="{{d.user_name}}" class="layui-input">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">Email</label>
            <div class="layui-input-block">
                <input type="text" id="email" value="{{d.email}}" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select type="text" name="city" id="gender"  lay-verify="" >
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select>
            </div>
        </div>
    </div>
</script>
<div id="update-info-model" style="display: none"></div>

<!--    修改密码弹窗-->
<script id="update-pass" type="text/html">
    <div class="layui-form layui-form-pane" >
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" id="oldPass" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" id="newPass" οnfοcus="this.placeholder=''"
                       οnblur="this.placeholder='密码'" value="" class="layui-input">
                <img id="img" οnclick="hideShowPsw()" src="../img/eye.png">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" id="oncePass"  value="" class="layui-input">
            </div>
        </div>
    </div>
</script>
<div id="update-pass-model" style="display: none"></div>

<div id="reader-page" >
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">检索书籍</li>
                    <li>借阅记录</li>
                    <li>意见反馈</li>
                </ul>
                <div class="layui-tab-content" style="background-color: white" >
<!--=================================检索书籍 =======================================================   -->
                    <div class="layui-tab-item layui-show">
                            <div class=" layui-form layui-form-item" style="margin: 15px 20% 0px 20%">
                                <div class="layui-inline">
                                    <div class="layui-input-inline">
                                        <input style="width: 300%" type="text" id="key_words" placeholder="请输入检索关键字"  autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-inline" style="margin-left:30%;position: absolute">
                                    <div class="layui-input-inline">
                                        <button class="layui-btn" id="search-btn" style="width: 80%"><i class="layui-icon layui-icon-search"></i>搜索一下</button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">条件：</label>
                                    <div class="layui-input-block">
                                        <input type="radio" name="condition" value="all" title="全部" checked>
                                        <input type="radio" name="condition" value="book_name" title="书名">
                                        <input type="radio" name="condition" value="book_number" title="书籍编号">
                                        <input type="radio" name="condition" value="author" title="作者">
                                        <input type="radio" name="condition" value="publisher" title="出版社">
                                        <input type="radio" name="condition" value="classification" title="类型">
                                    </div>
                                </div>
                            </div>
                        <fieldset class="layui-elem-field layui-field-title" id="fgx" style="margin-top: -15px">
                            <legend>根据条件查询</legend>
                        </fieldset>
                        <div id="test1"></div>

                    </div>
<!--=================================借阅记录 =======================================================   -->
                    <div class="layui-tab-item">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px">
                            <legend>天天向上图书管</legend>
                        </fieldset>
                        <!--数据表格-->
                        <table class="layui-hide" id="readerBorrowTemplate" lay-filter="reader-borrow-table-template" ></table>
                        <!--行内操作-->
                        <script type="text/html" id="reader-borrow-barDemo">
                            <a class="layui-btn  layui-btn-sm" lay-event="book-continue"><i class="layui-icon layui-icon-user"></i>续借</a>
                        </script>
                        <!--头部操作-->
                        <script type="text/html" id="reader-borrow-title-barDemo">
                            <a class="layui-btn  layui-btn-sm" lay-event="searchAll"><i class="layui-icon layui-icon-search"></i>全部记录</a>
                            <a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="not-return"><i class="layui-icon layui-icon-face-cry"></i>未归还</a>
                        </script>
                    </div>
<!--=================================意见反馈 =======================================================   -->
                    <div class="layui-tab-item ">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px">
                            <legend>天天向上图书管</legend>
                        </fieldset>
                        <div class="layui-form layui-form-pane">
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">意见反馈</label>
                                <div class="layui-input-block">
                                    <textarea id="opinion" placeholder="你想要对我们说点什么...(100字左右)" class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 80%">
                            <button type="button" id="submit-btn" class="layui-btn "><i class="layui-icon layui-icon-release"></i>提交</button>
                            <button type="button" id="reset-btn" class="layui-btn "><i class="layui-icon layui-icon-refresh"></i>重置</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</div>
<script src="../layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="../js/common.js" th:src="@{/js/common.js}"></script>
<script>
    layui.use(['element','laypage','laytpl','jquery','layer','util','form','table','laypage'], function() {
        var laytpl = layui.laytpl;
        var $ = layui.jquery;
        let layer = layui.layer;
        var util = layui.util;
        let form = layui.form;
        let table = layui.table;
        let laypage = layui.laypage;

        //=======个人信息===================
        $('#personal-data').click(function () {
            $.ajax({
                type:'get',
                url:'/userController/getLoginUser',
                contentType:'application/json',
                success:function(data){

                    //获取日期
                    let datum = data['register_time'];
                    //格式化日期
                    function frm_time(d) {
                        return util.toDateString(d, "yyyy-MM-dd");
                    }
                    data['register_time']=frm_time(datum)

                    laytpl($('#login-info').html()).render(data,function(html){
                        $('#login-info-model').html(html)
                    })
                    layer.open({
                        skin: 'layui-layer-molv',
                        type: 1,
                        area: ['400px', '500px'],
                        btn: ['关闭'],
                        title:'个人资料',
                        content: $('#login-info-model')
                    });
                }
            })
        })

        //=======个人信息修改===================
        $('#personal-update').click(function () {
            $.ajax({
                type:'get',
                url:'/userController/getLoginUser',
                contentType:'application/json',
                success:function(data){
                    laytpl($('#update-info').html()).render(data,function(html){
                        $('#update-info-model').html(html)
                    })

                    layer.open({
                        skin: 'layui-layer-molv',
                        type: 1,
                        area: ['400px', '400px'],
                        btn: ['修改','关闭'],
                        title:'修改资料',
                        content: $('#update-info-model'),
                        success:function(index, layero){
                            let gender = data.gender;
                            $('#gender').val(gender)
                            form.render();
                        },
                        yes: function(index, layero){
                            let str = {
                                "user_name":$('#userName').val(),
                                "email":$('#email').val(),
                                "gender":$('#gender').val(),
                                "user_id":data.user_id
                            }
                            console.log(str)
                            $.ajax({
                                type:'post',
                                url:'/userController/updateUserInfo',
                                data:JSON.stringify(str),
                                contentType:'application/json',
                                success:function (res) {
                                    layer.msg("修改成功！")
                                }

                            })
                            layer.close(index); //如果设定了yes回调，需进行手工关闭
                        }
                    });

                }
            })
        })

        //=========修改密码===================
        $('#pass-update').click(function () {
            let data={
                "oldPass":"oldPass",
                "newPass": "newPass",
                "oncePass":"oncePass"
            }

            laytpl($('#update-pass').html()).render(data,function(html){
                $('#update-pass-model').html(html)
            })

            layer.open({
                skin: 'layui-layer-molv',
                type: 1,
                area: ['400px', '300px'],
                btn: ['修改','关闭'],
                title:'修改密码',
                content: $('#update-pass-model'),
                success:function(index, layero){
                    //===============密码的可见与不可见=======================
                    $('#img').click(function () {
                        let demoImg = document.getElementById("img");
                        let PWD = document.getElementById("newPass");
                        function hideShowPsw() {
                            if (PWD.type == "password") {
                                PWD.type = "text";
                                demoImg.src = "../img/close_eye.png"; //图片路径（闭眼图片）
                            } else {
                                PWD.type = "password";
                                demoImg.src = "../img/eye.png"; // 图片路径（睁眼图片）
                            }
                        }
                        hideShowPsw()
                    })
                },
                yes:function (index, layero) {
                    let oldPass = $('#oldPass').val();
                    let newPass = $('#newPass').val();
                    let oncePass = $('#oncePass').val();
                    if (oldPass == null || oldPass == ""){
                        layer.msg("请输入旧密码")
                    }else if (newPass == null || newPass == ""){
                        layer.msg("请输入新密码")
                    }else if (oncePass == null || oncePass == ""){
                        layer.msg("请输入确认密码")
                    }else {
                        layer.confirm('修改密码后要重新登陆，是否修改？', {
                            btn: ['修改','取消'] //按钮
                        }, function(){
                            if (newPass.length>3&&newPass.length<8){
                                if (newPass == oncePass){
                                    $.ajax({
                                        type:'get',
                                        async: false,
                                        url:'/userController/updatePassword',
                                        data:{
                                            "oldPass":oldPass,
                                            "newPass":newPass,
                                            "oncePass":oncePass
                                        },
                                        contentType:'application/json',
                                        success:function (data) {
                                            layer.msg(data, {
                                                time: 2000, //20s后自动关闭
                                            });
                                            if (data == "修改成功！"){
                                                location.href="/"
                                            }
                                            layer.close(index)
                                        }
                                    })
                                }else {
                                    layer.msg("新密码与确认密码不同！")
                                }
                            }else {
                                layer.msg("密码为3~8位")
                            }

                        }, function(){

                        });
                    }
                }
            })
        })


        var page=1; //设置首页页码
        var limit=2;  //设置一页显示的条数
        var total;    //总条数

        //========搜索书籍====搜索按钮===================
        $('#search-btn').click(function () {
             $(".table-container").remove();

            let key_words = $('#key_words').val();
            let condition = $("input[name = 'condition']:checked").val();
            let dataStr = {
                "key_words":key_words,
                "condition":condition
            }

            $.ajax({
                type:'get',
                url:'/bookController/getBooksFromReaderCount',
                data:dataStr,
                contentType:'application/json',
                success:function (data_count) {
                    laypage.render({
                        elem: 'test1'
                        ,layout: ['count', 'prev', 'page', 'next']
                        ,count: data_count //数据总数，从服务端得到
                        ,limit:5
                        ,groups:3
                        ,jump: function(obj, first){
                            $(".table-container").remove();
                            //obj包含了当前分页的所有参数，比如：
                            console.log(typeof obj.curr+'------------====='); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(typeof obj.limit+'------------====='); //得到每页显示的条数
                            let page = obj.curr;
                            let limit = obj.limit;
                            //首次不执行
                            // if(!first){
                                $.ajax({
                                    type:'get',
                                    url:'/bookController/getBooksFromReader',
                                    async: false,
                                    data:{
                                        "key_words":key_words,
                                        "condition":condition,
                                        "page":page,
                                        "limit":limit
                                    },
                                    contentType:'application/json',
                                    success:function (data) {
                                        console.log(data)
                                        if (data != null){
                                            for (i in data){
                                                let datum = data[i];
                                                let publish_time = dateFormat(datum.publish_time);
                                                let html ='';
                                                html +='<table class="table-container" >';
                                                html += '<tbody>';
                                                html +='<tr >';
                                                html +='<td  width="80" rowspan="5"><a href="/bookController/getBookInfo?book_number='+datum.book_number+'" target="_blank"><img class="book_img" src="../img/book-img.jpeg"/></a></td>';
                                                html +='<td colspan="7" ><a href="/bookController/getBookInfo?book_number='+datum.book_number+'" target="_blank"><span class="book_name_td">书名：'+datum.book_name+'</span></a></td>';
                                                html +='</tr>';
                                                html +='<tr>';
                                                html +='<td colspan="7">作者：'+datum.author+'</td>';
                                                html +='</tr>';
                                                html +='<tr>';
                                                html +='<td colspan="7">图书编号：'+datum.book_number+'</td>';
                                                html +='</tr>';
                                                html +='<tr>';
                                                html +='<td colspan="7">出版社：'+datum.publisher+'<span style="margin-left:30px">出版时间：</span>'+publish_time+'</td>';
                                                html +='</tr>';
                                                html +='<tr>';
                                                html +='<td colspan="7" class="introduce-td">简介：'+datum.introduce+'</td>';
                                                html +='</tr>';
                                                html +='</tbody>';
                                                html +=' </table>';
                                                $('#fgx').append(html);
                                            }

                                        }else {

                                        }
                                    }
                                })
                            }
                        // }
                    });
                }
            })


        })

//=========================读者的借阅记录=========================================
        table.render({
            elem: '#readerBorrowTemplate', //容器id
            // height: 312, //容器高度
            even: true, //隔行变色
            id:'table_overload',
            where:{
               "condition":"未归还",
            },
            toolbar:"#reader-borrow-title-barDemo",
            defaultToolbar: [],//隐藏表格右上角工具
            url: '/borrowController/getRecordsFromReader', //数据接口
            cols:[
                [
                    {field: 'record_id', title: '借阅记录id',hide:true, sort: true},
                    {field: 'book_number', title: '图书编号',width: 90},
                    {field: 'book_name', title: '图书名',width: 90},
                    {field: 'out_date', title: '借出时间',templet:function(d){return util.toDateString(d.out_date, "yyyy-MM-dd");}, width: 110,sort: true},
                    {field: 'effective_time', title: '借出时长',width: 87},

                    {field: 'continue_num', title: '续借次数', sort: true,width: 102},
                    {field: 'continue_date', title: '续借日期',templet:function(d){return d.continue_date ? util.toDateString(d.continue_date, "yyyy-MM-dd"):"";}, sort: true,width: 110},
                    {field: 'upToDate', title: '截至日期',
                        templet:function(d){
                        if (d.continue_date != '' && d.continue_date != null){
                            let nowData = new Date();
                            //首先将续借日期往后推移30天
                            let result=geNewtDate(d.continue_date)
                            let up_to_date = dateFormat(result);
                            return up_to_date;
                        }else {
                            let nowData = new Date();
                            //首先将续借日期往后推移30天
                            let result=geNewtDate(d.out_date)
                            let up_to_date = dateFormat(result);
                            return  up_to_date;
                        }

                        },
                        sort: true,width: 110
                    },
                    {field: 'return_state', title: '是否归还',width: 88},
                    {field: 'return_date', title: '归还时间',templet:function(d){return d.return_date ? util.toDateString(d.return_date, "yyyy-MM-dd"):"";},width: 110, sort: true},
                    {field: 'isOverdue',title:'是否逾期',
                        templet:function(d) {
                            if (d.continue_date != '' && d.continue_date != null){
                                //如果续借了，则用续借日期
                                let nowData = new Date();
                                //首先将续借日期往后推移30天
                                let result=geNewtDate(d.continue_date)
                                return result>nowData ? '否':'是'
                            }else {
                                //如果没续借，则用借出日期
                                let nowData = new Date();
                                //首先将续借日期往后推移30天
                                let result=geNewtDate(d.out_date)
                                return result>nowData ? '否':'是'
                            }
                        },width: 89
                    },
                    {fixed: 'right', title: '操作', align:'center',width: 120, toolbar: '#reader-borrow-barDemo'}
                ]
            ]
        })

        //================监听行工具========================
        table.on('tool(reader-borrow-table-template)', function(obj){
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent == 'book-continue'){
                renew(data.user_id,data.book_number)
            }
        })
        //================监听头工具========================
        table.on('toolbar(reader-borrow-table-template)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'searchAll':
                    table.render({
                        elem: '#readerBorrowTemplate', //容器id
                        // height: 312, //容器高度
                        even: true, //隔行变色
                        where:{
                            "condition":"",
                        },
                        toolbar:"#reader-borrow-title-barDemo",
                        defaultToolbar: [],//隐藏表格右上角工具
                        url: '/borrowController/getRecordsFromReader', //数据接口
                        cols:[
                            [
                                {field: 'record_id', title: '借阅记录id',hide:true, sort: true},
                                {field: 'book_number', title: '图书编号',width: 90},
                                {field: 'book_name', title: '图书名',width: 90},
                                {field: 'out_date', title: '借出时间',templet:function(d){return util.toDateString(d.out_date, "yyyy-MM-dd");}, width: 120,sort: true},
                                {field: 'effective_time', title: '借出时长',width: 87},
                                {field: 'continue_num', title: '续借次数', sort: true,width: 102},
                                {field: 'continue_date', title: '续借日期',templet:function(d){return d.continue_date ? util.toDateString(d.continue_date, "yyyy-MM-dd"):"";}, sort: true,width: 120},
                                {field: 'upToDate', title: '截至日期',
                                    templet:function(d){
                                        if (d.continue_date != '' && d.continue_date != null){
                                            let nowData = new Date();
                                            //首先将续借日期往后推移30天
                                            let result=geNewtDate(d.continue_date)
                                            let up_to_date = dateFormat(result);
                                            return up_to_date;
                                        }else {
                                            let nowData = new Date();
                                            //首先将续借日期往后推移30天
                                            let result=geNewtDate(d.out_date)
                                            let up_to_date = dateFormat(result);
                                            return  up_to_date;
                                        }

                                    },
                                    sort: true
                                },
                                {field: 'return_state', title: '是否归还',width: 88},
                                {field: 'return_date', title: '归还时间',templet:function(d){return d.return_date ? util.toDateString(d.return_date, "yyyy-MM-dd"):"";}, sort: true},
                                {field: 'isOverdue',title:'是否逾期',
                                    templet:function(d) {
                                        if (d.continue_date != '' && d.continue_date != null){
                                            //如果续借了，则用续借日期
                                            let nowData = new Date();
                                            //首先将续借日期往后推移30天
                                            let result=geNewtDate(d.continue_date)
                                            return result>nowData ? '否':'是'
                                        }else {
                                            //如果没续借，则用借出日期
                                            let nowData = new Date();
                                            //首先将续借日期往后推移30天
                                            let result=geNewtDate(d.out_date)
                                            return result>nowData ? '否':'是'
                                        }
                                    },width: 89
                                }
                            ]
                        ],
                        page: {
                            layout: ['count', 'prev', 'page', 'next',  'skip'],
                            groups:3 ,
                            prev: '<<上一页',
                            next:'下一页>>'
                        },
                        limit:10
                    })
                    break;
                case 'not-return':
                    table.reload('table_overload', {
                        where: { //设定异步数据接口的额外参数，任意设
                          "condition":'未归还'
                        }
                    }); //只重载数据
                    break;
            };
        });

        //==================续借===方法===================
        function renew(user_id,book_number) {
            let dataStr = {
                "user_id":user_id,
                "book_number":book_number
            }
            $.ajax({
                type:'get',
                url:'/borrowController/renew',
                data:dataStr,
                async: false,
                contentType:'application/json',
                success:function (result) {
                    console.log("-------------"+result)
                    table.reload('table_overload',{
                        url:'/borrowController/getRecordsFromReader',
                        where:{
                            "condition":'未归还'
                        }
                    })
                    layer.msg(result)
                }
            })
        }
//=========================意见反馈=========================================

        //=============提交按钮=============================
        $('#submit-btn').click(function () {
            let opinion = $('#opinion').val();
            if (opinion == null || opinion == ''){
                layer.msg("请在意见框内输入文本")
            }else {
                let dataStr ={
                    "context":opinion
                }
                $.ajax({
                    type:'post',
                    url:'/feedBackController/addOpinion',
                    async: false,
                    data:JSON.stringify(dataStr),
                    contentType:'application/json',
                    success:function (data) {
                        layer.msg(data)
                    }
                })
            }
        })

        //=============重置按钮=============================
        $('#reset-btn').click(function () {
            $('#opinion').val('')
        })
        //==============得到30天之后的日期===================
        function geNewtDate(d) {
            var date= new Date(Date.parse(d))
            var iToDay=date.getDate();
            var iToMon=date.getMonth();
            var iToYear=date.getFullYear();
            var result = new Date(iToYear,iToMon,(iToDay+30));
            return result;
        }

        //===========格式化时间==================
        function dateFormat(data){
         return util.toDateString(data, "yyyy-MM-dd")
        }
        //===========退出登录====================
        $('#login-out').click(function () {
            loginOut()
        })

        //===========退出登录==方法==================
        function loginOut() {
            $.ajax({
                type:'get',
                url:'/userController/loginOut',
                contentType:'application/json',
            })
        }

    });

</script>
</body>
</html>